<div class="dashboard">
    <div class="main">

        <div class="container">
            <h1>About Epidemic Simulator</h1>
            <p>The <strong>Epidemic Simulator</strong> is an tool designed to model the spread and impact of infectious diseases within a defined population. This simulator allows users to input various parameters related to the disease and population to
                observe how the epidemic progresses over time. The simulation provides valuable insights into infection rates, recovery, and mortality, helping users understand potential outcomes and plan accordingly.</p>

            <h2>Key Features</h2>
            <ul>
                <li><strong>Customizable Simulations:</strong> Tailor the simulation parameters to match specific scenarios.</li>
                <li><strong>Detailed Results:</strong> Obtain comprehensive data on the number of infected, healthy, recovered, and deceased individuals over the simulation period.</li>
                <li><strong>User-Friendly Interface:</strong> Easy-to-use controls and clear visualizations of the simulation results.</li>
            </ul>

            <h2>How It Works</h2>
            <h3>Simulation Parameters</h3>
            <ul>
                <li><strong>Name:</strong> A descriptive name for the simulation scenario.</li>
                <li><strong>Population Size:</strong> The total number of individuals in the population.</li>
                <li><strong>Initial Infected Count:</strong> The number of individuals initially infected at the start of the simulation.</li>
                <li><strong>Reproduction Rate:</strong> The average number of new infections caused by each infected individual.</li>
                <li><strong>Mortality Rate:</strong> The proportion of infected individuals who succumb to the disease. This value should be between 0 and 1, with a maximum of two decimal places.</li>
                <li><strong>Recovery Time:</strong> The time in days it takes for an infected person to recover and gain immunity.</li>
                <li><strong>Mortality Time:</strong> The time in days from infection to death for those who do not recover.</li>
                <li><strong>Simulation Duration:</strong> The total time in days for which the simulation runs.</li>
            </ul>

            <h2>Example Usage</h2>
            <h3>Create a New Simulation</h3>
            <p>Navigate to the simulation creation page. Enter the required parameters based on your scenario. Start the simulation to see how the disease spreads over time.</p>

            <h3>View Simulation Results</h3>
            <p>Access the results page to see detailed statistics and graphs showing the progression of the epidemic. Analyze the data to understand the impact of different parameters on the spread of the disease.</p>

            <h3>Update an Existing Simulation</h3>
            <p>Modify the parameters of an existing simulation to test different scenarios. Save the updated simulation and review the new results.</p>

        </div>
    </div>
</div>